<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="conntrng" connectionString="Data Source=.;Initial Catalog=Gestion Ecole;Integrated Security=false; User ID=admin; Password=admin" />
    <add name="conntrg" connectionString="Data Source=.;Initial Catalog=Gestion Ecole;Integrated Security=false; User ID=aboubacar; Password=abou" />
    <add name="GatoniniSys.Properties.Settings.Gestion_CommercialConnectionString" connectionString="Data Source=.;Initial Catalog=&quot;Gestion Commercial&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Patiss_Choco.Properties.Settings.Gestion_CommercialConnectionString" connectionString="Data Source=.;Initial Catalog=&quot;Gestion Commercial&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Patiss_Choco.Properties.Settings.Gestion_CommercialConnectionString1" connectionString="Data Source=.;Initial Catalog=&quot;Gestion Commercial&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Quitaye_School.Properties.Settings.Gestion_EcoleConnectionString" connectionString="Data Source=database-3.czfonsbk8bqr.us-east-2.rds.amazonaws.com;Initial Catalog=&quot;Gestion Ecole&quot;;User ID=admin" providerName="System.Data.SqlClient" />
    <add name="Quitaye_School.Properties.Settings.Gestion_EcoleConnectionString1" connectionString="Data Source=.;Initial Catalog=&quot;Gestion Ecole&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Quitaye_School.Properties.Settings.ecolebonjour_gmail_comConnectionString" connectionString="Data Source=gestionecole.cvntvllshnjb.us-east-2.rds.amazonaws.com;Initial Catalog=ecolebonjour@gmail.com;User ID=quitayeadmin" providerName="System.Data.SqlClient" />
    <add name="Quitaye_School.Properties.Settings.Gestion_EcoleConnectionString2" connectionString="Data Source=.\sqlexpress;Initial Catalog=&quot;Gestion Ecole&quot;;Persist Security Info=True;User ID=admin" providerName="System.Data.SqlClient" />
    <add name="QuitayeContext" connectionString="data source=.;initial catalog=&quot;Gestion Ecole&quot;;persist security info=True;user id=admin;password=admin;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="QuitayeContext1" connectionString="data source=.;initial catalog=&quot;Gestion Ecole&quot;;persist security info=True;user id=admin;password=admin;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="QuitayeContext2" connectionString="data source=.;initial catalog=&quot;Gestion Ecole&quot;;persist security info=True;user id=admin;password=admin;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <configProtectedData>
    <providers>
      <add useMachineProtection="true" name="DPAPIProtection" type="System.Configuration.DpapiProtectedConfigurationProvider,&#xD;&#xA;                 &#xD;&#xA;           System.Configuration, Version=2.0.0.0, &#xD;&#xA;                 &#xD;&#xA;           Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </providers>
  </configProtectedData>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.3" newVersion="5.5.13.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.1.0" newVersion="1.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>